
body{
    font-family: "Roboto";
    margin: 0px;
}

/* div{
    border: 1px solid red;
} */

.container{
    display: flex;
    flex-direction: column;
    
    
}

/*HERO SECTION AND THE MAJOR DIVS*/
.hero{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    
}

.hero-top{
    display: flex;
    justify-content: space-around;

}

.hero-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    margin: 50px 0px;
}

.hero-bottom-left-title, .hero-bottom-left-text, .hero-bottom-left-btn{
    margin: 5px;
}

.hero-bottom-left{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 500px;
    
}

/*INDIVIDUAL ELEMENTS AND GROUP ELEMENTS*/

h4{
    font-size: 24px;
}

.hero-bottom-left-title{
    font-size: 48px;
    
}

h1, h4{
    color: #F9FAF8;
    font-weight: 900;
}

img{
    width: 500px;
    height: 200px;
}

ul{
    display: flex;
    gap: 20px;
}

 a, .hero-bottom-left-text{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-bottom-left-btn{
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    padding: 10px 40px;
    color: #E5E7EB;
    font-weight: 900;
}

/*-----------------------------------------*/


/*INFO DIV SECTION*/

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxes{
    display: flex;
    margin-bottom: 40px;
    
    
}

.info-boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    text-align: center;
    

}

/*INFO INDIVIDUAL STYLING SECTION*/

h2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.box{
    border: 4px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.info-boxes > p {
    color: #1F2937;

}


/*-----------------------------------------*/

/*QUOTE SECTION */


.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.quote-sentence{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    width: 800px;
    margin: 0 auto;
}

.quote-by{
    font-weight: 900;
    color: #1F2937;
    font-size: 30px;
    display: flex;
}


/*-----------------------------------------*/


/*CTA DIV SECTION*/

.CTA{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 40px 0;
}

.CTA-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    width: 800px;
    height: 115px;
    margin: 0 auto;
    border-radius: 10px;
    
}

.CTA-heading{
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: 5px;

}

.CTA-txt{
    color: #F9FAF8;
    margin-top: 0px;
}

.CTA-btn{
    background-color: #3882f6;
    color: #F9FAF8;
    border: solid 3px #F9FAF8;
    padding: 5px 25px;
    border-radius: 5px;
}

/*-----------------------------------------*/


/*FOOTER SECTION*/

.footer{
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    padding: 30px 25px;
}